/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
/* NHỚ CLEAR SAU KHI SỬ DỤNG FLOAT */
.clear{
    clear: both;
}
/* DÙNG CHUNG */
.div{
    display: block;
}
.btn{
    padding: 17px 50px;
    background-color: #fff;
    color: #ff3500;
    border: 1px solid transparent;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
}
.btn:hover{
    background-color: #ff3500;
    color: white;
}
.btn-2{
    color: white;
    background-color: #ff3500;
}
.btn-2:hover{
    background-color: white;
    color: #ff3500;
    border-color: #ff3500;
}
.title{
    font-size: 50px;
    line-height: 60px;
}
.title h2{
    font-weight: 300;
}
.title h2 span{
    font-weight: 800;
    font-size: 50px;
    color: #191d34;
}
.p__content{
    color: #66666f;
    line-height: 28px;
    font-size: 18px;
    margin: 30px 0 54px 0;
}
.container {
    max-width: 1140px;
    margin: auto;
}

/* HEADER */
/* HEADER__TOP */
.header__top{
    background-color: #000;
    padding: 15px 0;
}
.header a:hover{
    color: #eb592d;
}
.header__contact{
    float: left;
    color: white;
}
.header__contact a{
    color: white;
    margin-right: 50px;
}
.header__social {
    float:right;
}
.header__social a{
    margin-left: 30px;
    /* font-size: 18px; */
    color: white;
}
.header__social a i{
    font-size: 18px;
}


/* HEADER__MAIN */
.header__main {
    padding: 30px 0;
}
.header__main a img{
    float: left;
}
.header__main ul{
    float: right;
    line-height: 40px;
}
/* CHUYỂN THẺ li THÀNH THẺ INLINE VÌ BẢN CHẤT THẺ li LÀ THẺ BLOCK */
/* MARGIN-LEFT LÀ CĂN KHOẢNG CÁCH GIỮA CÁC THẺ li */
.header__main ul li{
    display: inline;
    margin-left: 40px;
}
.header__main ul li a{
    color: #102955;
    font-size: 15px;
    font-weight: 700;
    /* text-transform: capitalize; (Không cần sử dụng vì bên index.html đã viết hoa chữ cái đầu )*/
}

/* BANNER */
/* BANNER__LEFT */
.banner{
    height: 600px;
    background-image: url(./img/banner.png);
    background-size: 100%;
    background-position: center bottom;
}
.banner .container{
    position: relative;
}
.banner__left{
    width: 30%;
    padding-top: 10%;
}
.banner__left h1{
    color: white;
    font-size: 78px;
    font-weight: 200;
    margin-bottom: 4px;
    line-height: 85px;
}
.banner__left h1 span{
    font-weight: 800;
    font-size: 78px;
}
.banner__left p{
    color: white;
    line-height: 32px;
    margin: 12px 0 50px;
    font-weight: 400;
}
.banner__left .banner__right{
    float: left;
}
/* BANNER__RIGHT */
.banner__right{
    width: 70%;
    height: 100%;
    position: absolute;
    bottom: -45px;
    right: 0;
}
.banner__right img{
    width: 100%;
}

/* SERVICES */
/* title */
.services{
    padding: 241px 0 106px;
    text-align: center;
}
.title h2{
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    color: #191d34;
}
.title p{
    line-height: 30px;
    color: #909092;
    font-weight: 400;
}
/* services__content */
.services__content{
    margin: 90px 0 0 0;
}
.services__item{
    margin-bottom: 30px;
    padding: 10px;
    width: calc(100% / 3);
    float: left;
}
.services__item__bg{
    padding: 70px 25px 65px 25px;
    border: 1px solid #ffc5c2;
    border-radius: 10px;
}
.services__img {
    background-image: url(./img/service_icon_bg_1.png);
    height: 140px;
    width: 160px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    padding: 35px 0;
}
.services__item__bg h3{
    font-size: 25px;
    font-weight: 600;
    margin: 43px 0 22px 0;
}
.services__item__bg p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #909092;
}

/* PETCARE */
.petcare__left {
    width: 40%;
    float: left;
}
.petcare__left img {
    width: 100%;
}
.petcare__right {
    float: left;
    width: 60%;
    padding: 100px 70px 130px 150px;
    text-align: left;
}
.petcare__title p{
    color: #66666f;
    line-height: 28px;
    font-size: 18px;
    margin: 30px 0 54px 0;
}

/* HELP */
/* left */
.help{
    padding: 125px 0 90px 0; 
}
.help__left {
    float: left;
    width: 50%;
    padding: 100px 30px;
    text-align: left;
}
.help__right{
    width: 50%;
    float: left;
}
.col-1{
    float: left;
    padding: 150px 15px;
    text-align: center;
    width: 50%;
}
.help__item{
    border: 1px solid rgb(0, 0, 2, 0.08);
    border-radius: 14px;
    background-color: #fff;
    padding: 40px 40px 33px 40px;
    text-align: center;
}
.help__item h3{
    font-size: 60px;
    font-weight: 700;
    color: #383737;
    margin-top: 22px;
    margin-bottom: 2px;
    line-height: 1;
}
.help__item p{
    font-size: 20px;
    color: gray;
    font-weight: 400;
}
.col-2 {
    float: left;
    width: 50%;
    padding: 0 15px;
}
.col-2 > .help__item{
    margin-bottom: 40px;
}

/* TEAM */
.team{
    text-align: center;
    padding: 125px 0 200px 0;
}
.container > .title {
    width: 50%;
    margin: auto;
    margin-bottom: 90px;
}
.team__item {
    float: left;
    width: calc(100% / 3);
    position: relative;
    padding: 0 15px;
}
.team__item img {
    width: 100%;
}
.team__title {
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: -20px;
    left: 0;
} 
.team__title__intro{
    width: 50%;
    margin: auto;
    padding: 16px 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 2, 0.08);
    border-radius: 5px;
}
.team__title__intro h3 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
}
.team__title__intro p{
    font-size:14px;
    color: #7a7b7c;
    font-weight: 400;
}

/* CONTACT */
.contact{
    padding: 170px 0 160px 0;
    background-image: url(./img/contact_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
}
.contact__content{
    width: 50%;
    margin: auto;
}
.contact__content h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}
.contact__content p{
    font-size: 25px;
    color: #fff;
    margin: 35px 0 50px 0;
    line-height: 40px;
}
.contact__info span{
    font-size: 18px;
    color: white;
    margin: 0 10px;
}
.contact__info a{
    font-weight: 600;
    color: white;
    margin-left: 10px;
    font-size: 18px;
}

/* FOOTER */
.footer__top{
    padding: 130px 0 110px 0;
}
.footer__item {
    float: left;
    width: 25%;
    text-align: left;
}
.footer__item h2{
    font-size: 25px;
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 36px;
}
.footer__item ul li{
    font-weight: 400;
    line-height: 40px;
}
.footer__item ul li a{
    color: #7a7a7a;
}
.footer__item p{
    margin-top: 35px;
    color: #7a7a7a;
}
.footer__social{
    margin-top: 26px;
}
.footer__social a{
    margin-right: 20px;
    font-weight: 400;
    color: #7a7a7a;
}
.footer a:hover{
    color: #eb592d;
}
.footer__bottom{
    padding: 30px 0 32px 0;
    border-top: 1px solid #e0e0e0;
}
.footer__bottom p{
    font-size: 18px;
    color: #888;
}